<nav id="sidebar" class="common-sidebar" [ngClass]="{ 'common-sidebar--toggled': sidebarToggled }">
  <div class="common-sidebar__header">
    <h3>Menu</h3>
  </div>
  <ul class="common-sidebar__menu">
    <li class="common-sidebar__item" *ngFor="let item of menuItems">
      <a
        class="common-sidebar__link"
        [routerLink]="routerCommands(item.link)"
        [fragment]="item.fragment ?? null"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }">
        <i class="common-sidebar__icon" [ngClass]="item.icon || 'fa fa-circle'"></i>
        <span class="common-sidebar__text">{{ item.label }}</span>
      </a>
    </li>
  </ul>
  <div class="common-sidebar__account" *ngIf="showSidebarAccountActions">
    <a class="common-sidebar__link" [routerLink]="profileLink" routerLinkActive="active">
      <i class="common-sidebar__icon fa fa-user-circle"></i>
      <span class="common-sidebar__text">Profile</span>
    </a>
    <button type="button" class="common-sidebar__link common-sidebar__link--button" (click)="logout()">
      <i class="common-sidebar__icon fa fa-sign-out"></i>
      <span class="common-sidebar__text">Sign out</span>
    </button>
  </div>
  <div class="common-sidebar__footer">
    <div class="common-sidebar__user">
      <div class="common-sidebar__avatar">
        <img
          *ngIf="userImageUrl && !avatarImageError"
          [src]="userImageUrl"
          alt="{{ userDisplayName || 'User' }}"
          width="36"
          height="36"
          (error)="avatarImageError = true"
        >
        <span *ngIf="!userImageUrl || avatarImageError" class="common-sidebar__avatar-initial" [attr.aria-hidden]="true">{{ userInitial }}</span>
      </div>
      <span class="common-sidebar__user-name">{{ userDisplayName || 'User' }}</span>
    </div>
  </div>
</nav>
