<!-- ✅ SSR OPTIMIZATION: Use async pipe - no blocking, automatic unsubscribe -->
<ng-container *ngIf="courses$ | async as courses; else loadingTemplate">
<div class="table-responsive border-0 overflow-y-hidden">
    <table class="table mb-0 text-nowrap">
        <tbody>
            <tr *ngFor="let item of courses; trackBy: trackByCourseId">
                <td class="border-top border-bottom">
                    <div class="d-lg-flex">
                        <div>
                            <a [routerLink]="item?.canonicalUrl">
                                <img [src]="item?.titleImageUrl" (error)="onImgError($event)" alt=""
                                    class="rounded img-4by3-lg"
                                    loading="lazy"
                                    width="100"
                                    height="75">
                            </a>
                        </div>
                        <div class="ml-lg-3 mt-2 mt-lg-0">
                            <h4 class="mb-1 h5 truncate">
                                <a [routerLink]="item?.canonicalUrl" class="text-inherit">
                                    {{item?.title}}
                                </a>
                            </h4>
                        </div>
                    </div>
                </td>
                <td class="border-top border-bottom">{{item?.amount | currency:"INR":"symbol"}}</td>
            </tr>
        </tbody>
    </table>
</div>
</ng-container>

<ng-template #loadingTemplate>
    <p class="text-center">Loading related courses...</p>
</ng-template>