.img-4by3-lg {
    width: 6.5rem;
}

::ng-deep .video-modal .modal-dialog {
    position: fixed !important;
    margin: auto;
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
  }
  
  ::ng-deep .video-modal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

  