#tab{
        background: linear-gradient(90deg, #153e7c 0.26%, #147fa0);
}

.bodyHeader{
        background: linear-gradient(90deg, #153e7c 0.26%, #147fa0);
        padding:36px 0px;
    }
    .bodyHeader h4{
        font-size: 56px;
        color:white;
    }

.customDesign{
        padding: 10px 70px;
        // background-color: gray;
        height: 70vh;
        // overflow-y: scroll;
    }
    
    table{
        border: 1px solid #ddd8d8;
        table-layout: fixed;
        white-space: nowrap;
    }
    
    table tbody{
        overflow-y: scroll;
    }
    .tdtitle{
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
    
    #backarrow{
        font-size: 20px;
        position: relative;
        top: -10px;
        padding-right: 22px;
      }
    table a{
        text-decoration: none;
        color: black;
    }