
<footer>
<div class="public-container">
	<div class="row justify-content-center">
		<div class="col-lg-12 col-md-12 col-centered customWidth">
			<div class="start-trial">
				<div class="row">
					<div class="col">
						<h6>Company</h6>
						<ul class="footer-menu">
							<li><a [routerLink]="'/about-us'">About Us</a></li>
							<li><a [routerLink]="'/contact-us'">Contact Us</a></li>
							<li><a [routerLink]="'/career'">Career</a></li>
						</ul>
					</div>
					<div class="col">
						<h6>Work with us</h6>
						<ul class="menu-company">
							<li><a [routerLink]="'/become-our-trainer'">Become
									an Instructor</a></li>
							<li><a [routerLink]="'/guest-blogging'">Blog as
									Guest</a></li>
							<li><a [routerLink]="'/affiliate-program'">Become an
									Affiliate</a></li>
						</ul>
					</div>
					<div class="col">
						<h6>For Business</h6>
						<ul class="menu-company">
							<li><a [routerLink]="'/corporate-training'">Corporate
									Training</a></li>
							<li><a [routerLink]="'/courses-offered'">Courses
									Offered</a></li>
							<li><a [routerLink]="'/why-oilandgasclub'">Why
									Oilandgasclub.com</a></li>
						</ul>
					</div>
					<div class="col">
						<h6>More</h6>
						<ul class="menu-company">
							<li><a [routerLink]="'/refund-cancellation-policy'">Refund and Cancellation Policy</a></li>
							<li><a [routerLink]="'/terms-and-conditions'">Terms
									and Conditions</a></li>
							<li><a [routerLink]="'/privacy-policy'">Privacy
									Policy</a></li>
						</ul>
					</div>
					<div class="col custom-col">
						<h6>Social Links</h6>
						 <a href="https://www.facebook.com/oilandgasclub/" target="_blank"><img
									src="assets/s3/oilandgasclub_facebook.svg"  alt="" width="50" height="50"></a>
						 
						 <a href="https://www.linkedin.com/company/oilandgasclub-com/" target="_blank"><img
									src="assets/s3/oilandgasclub_linkedin.svg"  alt="" width="50" height="50"></a>
						 
					 <a href="https://x.com/oilandgasclub/" target="_blank"><img src="assets/s3/oilandgasclub_x.svg"  alt=""
									width="50" height="50"></a> 
						
					</div>
				</div>
				<div class="row">
				<div class="col-md-12 no-padding footer-nav-container">
					<ul>
						
							<a class="footer-nav-item" [routerLink]="'/partner-us'">Partner Us</a>
							<a class="footer-nav-item" [routerLink]="'/membership'">Membership</a>
							<a class="footer-nav-item" href="https://blog.oilandgasclub.com/" target="_blank">Blog</a>
							<a class="footer-nav-item" [routerLink]="'/policies'">Policies</a>
							<a class="footer-nav-item" [routerLink]="'/in-house-solutions'">In-house Solution</a>
							<a class="footer-nav-item" [routerLink]="'/build-your-portfolio'">Build your Portfolio</a>
							<a class="footer-nav-item" [routerLink]="'/mission-and-vision'">Mission and Vision</a>
						
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="copy-right">
<div class="row">
<div class="no-padding new-footer-end">
	<div class="public-container">
		<p>Copyright © 2024 Acusstreak. All rights reserved. The certification names and logos are the trademarks of their respective owners.</p>
	</div>
	</div>
	</div>
</div>
</footer>