<div class="parent">
  <div class="child">
    <img ngSrc="assets/img/ogclubsvg.svg" alt="Logo" width="180" height="60" priority class="image">
    <div class="content">
      <h2>Check your email for a code</h2>
      <p>
        we've send a 6-character code to <b>{{email}}</b>. The code will expire shortly. <br> So please enter it soon.
      </p>
    </div>
    <form>
      <div>
        <!-- <label for="email">Email address</label>
        <input type="email" name="email" [(ngModel)]="email" required placeholder="Enter your email"> -->
        <!-- <button class="btn btn-sm btn-primary" (click)="verifyAc()">Verify</button> -->
        <!-- <p>
            we've send a 6-character code to {{email}}. The code will expire shortly. Please enter it soon.
        </p> -->
      </div>
      <br>
      <div class="content">
        <!-- <label for="email">Verification Code</label> -->
        <input type="text" name="code" [(ngModel)]="code" required placeholder="Enter your verification code">
        <!-- <div class="userInput">
          <input type="text" id='ist' maxlength="1" onkeyup="clickEvent(this,'sec')">
          <input type="text" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')">
          <input type="text" id="third" maxlength="1" onkeyup="clickEvent(this,'fourth')">
          <input type="text" id="fourth" maxlength="1" onkeyup="clickEvent(this,'fifth')">
          <input type="text" id="fifth" maxlength="1" onkeyup="clickEvent(this,'sixth')">
          <input type="text" id="sixth" maxlength="1">
        </div> -->
      </div>
      <div class="content mt-4">
        <button (click)="verifyAccount()" class="btn customBtn" type="button"> Verify </button>

      </div>
      <div class="d-flex mt-2" style="padding-right:80px">
        <div class="ml-auto">
          <a class="mt-2" (click)="resend()">Resend</a></div>
      </div>
      <div class="content mt-2">
        <p>Can't find your code? Check your span folder!</p>
      </div>
    </form>

  </div>
</div>
