<button
  *ngIf="showCta"
  type="button"
  class="student-membership-cta"
  [class.student-membership-cta--pro]="isProMember"
  (click)="openMembershipPage()"
  [attr.title]="title"
>
  <div class="student-membership-cta__icon student-membership-cta__icon--collapsed" aria-hidden="true">
    <img src="assets/img/membership-pro-icon.png" alt="" class="student-membership-cta__icon-img" width="40" height="40" />
  </div>

  <div class="student-membership-cta__card">
    <div class="student-membership-cta__header">
      <div class="student-membership-cta__icon student-membership-cta__icon--small" aria-hidden="true">
        <img src="assets/img/membership-pro-icon.png" alt="" class="student-membership-cta__icon-img" width="36" height="36" />
      </div>
      <div class="student-membership-cta__copy">
        <strong>{{ title }}</strong>
        <span>{{ subtitle }}</span>
      </div>
    </div>
    <span class="student-membership-cta__btn">{{ buttonLabel }}</span>
  </div>
</button>
