.card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eae7f5;
}

.h3, h3 {
    font-size: 1.25rem;
}


@media only screen and (max-width: 767px) {
    .navbar-collapse.collapse.show {
        z-index: 9;
        background-color: #fff;
    }

}