<div class="container">
    <div class="inner-page-content">

        <p><strong>Health And Safety Policy</strong></p>

        <p><a href="https://oilandgasclub.com/">Oil And Gas Club</a> will execute a careful risk analysis for every
            event it organizes and protects the health
                and safety of its own employees, clients, contractors and the public and at the same time minimizes
            the impact of its activities on the environment.</p>

        <p> <strong>Cancellation Policy</strong></p>

        <p> You may substitute delegates at any time as long as reasonable advance notice is given to O&amp;G Club. For
            any cancellation received in writing not less than fourteen ( 14 ) working days prior to the training course, you will receive a full refund less a 957
            Indian rupees administration fees and any related bank or credit card charges.</p>

        <p> Delegates who cancel less than fourteen (14) working days of the training course, or who do not attend the
            course, are liable to pay the full course fees and no refunds will be granted.</p>

        <p> In the event that Oil And Gas Club cancels or postpones an
            event for any reason and that the delegate is unable or unwilling to attend in on the rescheduled date, you
            will receive a credit for 100% of the contract fee paid. You may use this credit for another Oil And Gas
            Club Program to be mutually agreed with , which must occur
            within a year from the date of postponement.</p>

        <p> Oil And Gas Club is not responsible for any loss or damage as a result of the cancellation policy. Oil And
            Gas Club will assume no liability whatsoever in case an event is cancelled, rescheduled or postponed due to
            any Act act of fire, act of government or state, war, civil
            commotion, insurrection, embargo, industrial action, or any other reason beyond management control.</p>

        <p> <strong>Privacy Policy</strong></p>

        <p> Oil And Gas Club allows its users to submit personal information in order to request information<a
                href="https://oilandgasclub.com/about-us/"> about us</a> or to register for an event. We do not collect
            personal information for any other purposes. The information and documents you provide is not sold or
            otherwise distributed to any private organizations or group of students. We have implemented technology and
            policies with the objective of protecting your privacy from unauthorized access and improper use and will
            update these measures as new technology becomes available.</p>

    </div>
</div>