<div class="container">
    <p>From the year 2015, the oilandgasclub has dealt with the creation of self-learning courses Oilandgasclub is a
        specialist in enhancing the capabilities of the individuals and organisations through offering the
        result-oriented Self learning courses. We are one of the market leaders in delivering Self learning courses to
        the oil and gas industry</p>

    <p>oilandgasclub is a bootstrapped, profitable, fully-remote company, which currently consists of more than 20
        thoughtful and hardworking people from different countries. Their working values include the autonomy and the
        ability to make an impact as well as an appreciation for the ability to provide quality education.</p>

    <p>oilandgasclub stands as the world&rsquo;s leading digital skills provider, empowering learners across the globe
        to achieve their career goals faster. Our programs and certifications are meticulously designed and delivered in
        collaboration with top corporations and leading industry bodies. </p>
</div>