<html>
<head>
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="twitter:card" content="summary_large_image">

  <!-- Meta Title -->
  <meta name="title" content="About Us - Oilandgasclub | Online Training & Certification Platform">
  <title>About Us - Oilandgasclub | Online Training & Certification Platform</title>

  <!-- Meta Description -->
  <meta name="description" content="Oilandgasclub is a leading online learning platform offering certifications and training programs for the oil and gas industry. Upskill with API, NDT, CSWIP, ASNT, and HTRI courses. Learn anytime, anywhere!">

  <!-- Open Graph Meta Tags (for social media) -->
  <meta property="og:site_name" content="Oilandgasclub">
  <meta property="og:type" content="website">
  <meta property="og:author" content="Oilandgasclub Team">
  <meta property="og:image" content="https://www.oilandgasclub.com/assets/images/about-us-banner.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:url" content="https://www.oilandgasclub.com/about-us">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:title" content="About Us - Oilandgasclub | Leading Oil & Gas Training Platform">
  <meta name="twitter:description" content="Discover Oilandgasclub - your go-to platform for professional certifications and training in the oil and gas industry. Start your journey today!">
  <meta name="twitter:label1" content="Courses Offered">
  <meta name="twitter:data1" content="API, NDT, CSWIP, ASNT, HTRI">
  <meta name="twitter:label2" content="Flexible Learning">
  <meta name="twitter:data2" content="Self-paced, Online Classes">
  <meta name="twitter:site" content="@oilandgasclub">
  <meta name="twitter:creator" content="@Oilandgasclub">
  <meta name="twitter:url" content="https://www.oilandgasclub.com/about-us">

  <!-- Article Tags -->
  <meta property="article:published_time" content="2021-09-01T06:18:55.5419129">
  <meta property="article:modified_time" content="2023-07-08T06:43:07.881401">
  <meta property="article:tag" content="About Oilandgasclub, Oil and Gas Training, Certifications, API Courses, NDT Training, ASNT, CSWIP, HTRI, Online Learning, Career Development">
  <meta property="article:publisher" content="https://www.oilandgasclub.com">

</head>
</html>


<div class="container">
    <p>From the year 2015, the oilandgasclub has dealt with the creation of self-learning courses Oilandgasclub is a
        specialist in enhancing the capabilities of the individuals and organisations through offering the
        result-oriented Self learning courses. We are one of the market leaders in delivering Self learning courses to
        the oil and gas industry</p>

    <p>oilandgasclub is a bootstrapped, profitable, fully-remote company, which currently consists of more than 20
        thoughtful and hardworking people from different countries. Their working values include the autonomy and the
        ability to make an impact as well as an appreciation for the ability to provide quality education.</p>

    <p>oilandgasclub stands as the world&rsquo;s leading digital skills provider, empowering learners across the globe
        to achieve their career goals faster. Our programs and certifications are meticulously designed and delivered in
        collaboration with top corporations and leading industry bodies. </p>
</div>