<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Side Navbar -->
            <ul class="nav nav-lb-tab mb-5" id="tab" role="tablist">
                <li class="nav-item ml-0" role="presentation">
                    <a class="nav-link active" id="course-tab" data-toggle="pill" href="#course" role="tab"
                        aria-controls="course" aria-selected="true">Courses </a>
                </li>
            </ul>
            <!-- Tab content -->
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade active show" id="course" role="tabpanel" aria-labelledby="course-tab">
                    <div class="card mb-4">
						<!-- Card header -->
						<!-- Card body -->
						<!-- Table -->
						<div class="table-responsive border-0 overflow-y-hidden">
							<table class="table mb-0 text-nowrap">
								<thead>
									<tr>
									  <th scope="col" style="width:20%">
										<a href="javascript:void(0)" (click)="sortByHeading('Title')">Title
										  <span *ngIf="sortBy == 'Title'" class="fa"
											[ngClass]="{  'fa-caret-down' : isAsc,  'fa-caret-up' : !isAsc}"></span>
										</a>
									  </th>
									  <th scope="col" style="width:15%">
										<a href="javascript:void(0)" (click)="sortByHeading('Category')">Category
										  <span *ngIf="sortBy == 'Category'" class="fa"
											[ngClass]="{  'fa-caret-down' : isAsc,  'fa-caret-up' : !isAsc}"></span>
										</a>
									  </th>
									  <th scope="col" style="width:15%">
										Author
									  </th>
									  <th scope="col" style="width:15%">
										Created Date
									  </th>
									</tr>
								  </thead>
								<tbody>
									<tr *ngFor="let item of course | paginate : { itemsPerPage : tableSize,currentPage : page,totalItems : count };">
										<td><a (click)="gotToCurriculumList(item)" [routerLink]="['/app/student/details/curriculum-list',item.id]">{{item.title}}</a></td>
										<td>{{item?.category?.name}}</td>
										<td>
										  {{item?.createdByUser?.firstName }} {{item?.createdByUser?.lastName}}
										</td>
										<td>
										  {{item?.createdOn | date: 'short'}}
										</td>
									  </tr>
								</tbody>
							</table>
					
							<div class="d-flex bd-highlight mb-3">
								<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
								<div class="ml-auto p-2 bd-highlight">
								  <select (change)="onTableSizeChange($event)" class="custom-select">
									<option *ngFor="let size of tableSizes" [ngValue]="size">
									  {{ size }}
									</option>
								  </select>
								</div>
							  </div>
						</div>
					</div>

                </div>
            </div>
        </div>
    </div>
</div>