.post-inner h1 {
    color: #bb2929;
    margin-right: 2px;
    font-size: 20px;
    padding-top: 20px
}

.entry strong {
    color: #787878;
}

.inner-page-content p {
    padding-bottom: 10px;
    padding-top: 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}