<div class="container-fluid mt-5">
  <ng-container *ngIf="coursesData$ | async as data">
    <div class="row course-column">
      <div
        class="col-lg-3 d-flex mb-4"
        *ngFor="let item of data.courses | paginate: { itemsPerPage: itemsPerPage, currentPage: data.currentPage, totalItems: data.totalItems }; let idx = index; trackBy: trackByCourseId">
        <div class="carousel-course-related w-100">
          <a [routerLink]="item?.canonicalUrl" class="no-underline d-block h-100">
            <div class="list-course-item h-100 d-flex flex-column">
              <div class="card-image position-relative">
                <img
                  [src]="item?.titleImageUrl"
                  (error)="onImgError($event)"
                  alt="{{ item?.title }}"
                  class="card-img"
                  [attr.loading]="idx === 0 ? 'eager' : 'lazy'"
                  width="300"
                  height="200"
                  style="aspect-ratio: 3/2; object-fit: cover;" />
                <div class="sale-badge" *ngIf="item?.isBestSeller">Best Seller</div>
              </div>
              <div class="card-body">
                <h6>{{ item?.title }}</h6>
                <ul *ngIf="item?.courseFeatures?.length > 0">
                  <li *ngFor="let feature of item?.courseFeatures; trackBy: trackByFeatureId">{{ feature?.description }}</li>
                </ul>
              </div>
              <div class="buy">
                <div class="price">{{ item.amount | currency: 'INR':'symbol' }}</div>
                <span class="btn btn-register" role="button">
                  <i class="fa fa-shopping-cart"></i> Enroll Now
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
      <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
    </div>
  </ng-container>
</div>
