<div class="unauthorized">
  <div class="unauthorized__card">
    <h1 class="unauthorized__title">Access denied</h1>
    <p class="unauthorized__message">You do not have permission to view this page.</p>
    <div class="unauthorized__actions">
      <button type="button" class="unauthorized__btn unauthorized__btn--primary" (click)="goHome()">
        Go to my dashboard
      </button>
      <button type="button" class="unauthorized__btn unauthorized__btn--secondary" (click)="goToLogin()">
        Sign out
      </button>
    </div>
  </div>
</div>
