<div class="container">
  <html>
<head>
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="twitter:card" content="summary_large_image">
  
  <!-- SEO Meta Tags -->
 
  
  <!-- Open Graph Meta Tags -->
  <meta property="og:site_name" content="Oilandgasclub">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Become an Instructor | Teach Oil and Gas Courses - Oilandgasclub">
  <meta property="og:description" content="Join Oilandgasclub as an instructor and empower learners in the oil and gas industry with your knowledge. Build and deliver online courses globally.">
  <meta property="og:author" content="Oilandgasclub Team">
  <meta property="og:image" content="https://www.oilandgasclub.com/assets/instructor-banner.jpg">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="500">
  <meta property="og:url" content="https://www.oilandgasclub.com/become-instructor">
  
  <!-- Article Meta Tags -->
  <meta property="article:published_time" content="2021-09-01T06:18:55.5419129">
  <meta property="article:modified_time" content="2023-07-08T06:43:07.881401">
  <meta property="article:tag" content="Instructor, Teach Online, Oil and Gas Training, Oilandgasclub, Online Courses, Professional Development, Certification Programs">
  <meta property="article:publisher" content="https://www.oilandgasclub.com">
  
  <!-- Twitter Meta Tags -->
  <meta name="twitter:title" content="Become an Instructor | Oilandgasclub - Teach Oil and Gas Courses Online">
  <meta name="twitter:description" content="Join Oilandgasclub as an instructor to share your expertise with global learners in the oil and gas industry. Build impactful courses today!">
  <meta name="twitter:label1" content="Teach Oil & Gas Courses">
  <meta name="twitter:data1" content="Empower professionals with your knowledge.">
  <meta name="twitter:label2" content="Join Our Instructor Network">
  <meta name="twitter:data2" content="Reach learners worldwide through Oilandgasclub.">
  <meta name="twitter:site" content="@oilandgasclub">
  <meta name="twitter:creator" content="@Oilandgasclub">
  <meta name="twitter:url" content="https://www.oilandgasclub.com/become-instructor">
</head>
</html>

<div class="background-cover be-train-cover">
  <nav id="training-nav">
  </nav>
  <div class="container">
    <div class="banner-content d-flex align-items-center">
      <div class="w-50">
        <h1>Teach<span></span> Create<span></span> Earn</h1>
      </div>
      <div class="w-50">
        <h1 class="name post-title entry-title">
          <span itemprop="name">
            <b>BECOME A </b><br />
            <b>INSTRUCTOR</b>
            <br>ON OILANDGASCLUB</span></h1>
      </div>
    </div>
  </div>
</div>



<div class="become-our-trainer-cont">
  <div class="container customWidth">
    <div class="row">
      <div class="be-an-trainer col-lg-12 col-md-12 col-sm-12 px-3">
        <p>If you love your field want to share your knowledge and passionate about teaching? You have come to the right
          place. Come join with us on our journey.</p>
      </div>

      <div class="inst-earning row px-3" style="padding: 40px 0px; width: 1000px;">
        <div class="earning-calculator-contente col-lg-6 col-md-6 col-sm-6">
          <span class="earn-img"></span>
          <div>
            <p><b>Earning Potential</b></p>
            <p>See the approximate amount you can earn</p>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle hour-dropdown d-flex align-items-center p-0" type="button"
                data-toggle="dropdown">
                <span class="selected-dropdown"><b>{{dropdownTitle}}hrs</b>/day</span>
                <span class="caret pull-right"></span><br>
              </button>
              <ul class="dropdown-menu hour-dropdown-list">
                <li (click)="setDropdown(2, 21000)"><b>2hrs</b>/day</li>
                <li (click)="setDropdown(4, 42000)"><b>4hrs</b>/day</li>
                <li (click)="setDropdown(8, 84000)"><b>8hrs</b>/day</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="earning-amount-container text-center col-lg-6 col-md-6 col-sm-6">
          <p id="my-income"><span>₹</span>{{dropdownValue}}</p>
          <p>per month</p>
          <p>(Minimum earning based on hours taught)</p>
        </div>
      </div>

      <div class="reason-choose-box col-lg-12 col-md-12 col-sm-12">
        <div class="reason-head">
          <h4>Why teach with oilandgasclub.com</h4>
        </div>
        <div class="row text-center" style="padding: 40px 0px;">
          <div class="reason col-12 col-md-4">
            <span style="background-position: -387px -77px;"></span><br>
            <h6>Anytime Anywhere Online</h6>
            <p class="reason-text">If you have got technical knowledge and experience in a core subject, and you
              would enjoy helping professionals.</p>
          </div>
          <div class="reason col-12 col-md-4">
            <span style="background-position: -490px -78px;"></span><br>
            <h6>Find Purpose</h6>
            <p class="reason-text">Learn through internet. Connect with your student from wherever you are and
              whenever you want.</p>
          </div>
          <div class="reason col-12 col-md-4">
            <span style="background-position: -431px -78px;"></span><br>
            <h6>Awesome Community</h6>
            <p class="reason-text">Be a part of a large technical community, make friends and learn from each other.
            </p>
          </div>
        </div>
      </div>
      <div class="benefits-container container">
        <div class="row">
          <div class="col-12">
            <h2>Benefits of live online tutoring</h2>
          </div>
          <div class="col-12">
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-4 d-flex align-items-start p-3">
                  <img src="assets/tv-solid.svg" alt="">
                  <div>
                    <h6>PERSONALIZED LIVE TEACHING</h6>
                    <ul class="benefits-points1">
                      <li>Dedicated teacher, 100% personal attention</li>
                      <li>Teaching at student’s pace</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-4 d-flex align-items-start p-3">
                  <!-- <span style="background-position: -14px -591px;"></span> -->
                  <img src="assets/tv-solid.svg" alt="">
                  <div>
                    <h6>BETTER THAN RECORDED LECTURES</h6>
                    <ul class="benefits-points1">
                      <li>2 way interaction</li>
                      <li>Monitoring &amp; counseling</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-4 d-flex align-items-start p-3">
                  <!-- <span style="background-position: -198px -587px;"></span> -->
                  <img src="assets/search-location-solid.svg" alt="">
                  <div>
                    <h6>ANYTIME ANYWHERE LEARNING</h6>
                    <ul class="benefits-points1">
                      <li>Choice of web and mobile platform</li>
                      <li>Choose your own topic/time &amp; pace</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-12 col-md-2"></div>
                <div class="col-12 col-md-4 d-flex align-items-start p-3">
                  <img src="assets/globe-americas-solid.svg" alt="">
                  <div>
                    <h6>SAVE ON TIME</h6>
                    <ul class="benefits-points1">
                      <li>No commuting</li>
                      <li>No looking for the right teacher</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-4 d-flex align-items-start p-3">
                  <img src="assets/connectdevelop-brands.svg" alt="">
                  <div>
                    <h6>SAFETY</h6>
                    <ul class="benefits-points1">
                      <li>Learn @ safety of home</li>
                      <li>No traffic annoyance</li>
                    </ul>
                  </div>
                </div>
                <div class="col-12 col-md-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="instrcutor-query-form">
        <h4>DROP US A QUERY</h4>
        <iframe id="hiddenIframe" name="hiddenIframe" onload="if(window.submitted||false) {
			// document.getElementById('completion-msg').style.display = 'block'
			//alert('Thank you for completing this form!')
			var r = confirm('Thank you for completing this form!');
			if (r) {
				window.location.href = '/';
			} else {
				// window.location.href = '/';
			}
		}" style="display: none;"></iframe>
        <!-- Optional if you want to give a completion feedback! -->
        <div id="completion-msg" style="display: none;">
          Thank you for completing this form!
        </div>
        <form
          action="https://docs.google.com/forms/d/e/1FAIpQLSdBzPd2kQvC66l3WWj3gqokfzPMjiIdyZXmHozK3sI2LXqeqA/formResponse"
          onsubmit="window.submitted=true;" target="hiddenIframe" method="POST">

          <div class="form-group">
            <label for="name">Name *</label>
            <input type="text" class="form-control" id="name" name="entry.1240380496" required placeholder="Name">
          </div>

          <div class="form-group">
            <label for="email">Email Address *</label>
            <input type="email" class="form-control" id="email" name="entry.1616702479" required placeholder="Email">
          </div>
          <div class="form-group">
            <label for="course">Select Course *</label>
            <select name="entry.2052152614" class="form-control" id="course" required>
              <option value="Choose">Choose</option>
              <option value="Piping">piping</option>
              <option value="Instrumentation">Instrumentation</option>
              <option value="Electrical">Electrical</option>
              <option value="Civil">Civil</option>
              <option value="Process">Process</option>
              <option value="Safety">Safety</option>
              <option value="Welding">Welding</option>
            </select>
          </div>

          <div class="form-group">
            <label for="phone">Phone Number *</label>
            <input type="text" class="form-control" id="phone" name="entry.1429337558" required
              placeholder="Phone Number">
          </div>

          <div class="form-group">
            <label for="LinkedIn">Linkedin URL *</label>
            <input type="url" class="form-control" id="LinkedIn" name="entry.914762180" required
              placeholder="Linkedin URL">
          </div>

          <button type="submit" class="btn btn-primary mb-2 float-right">Submit</button>
        </form>
        <div class="p-5"></div>
      </div>
    </div>
  </div>
</div>
</div>