<div class="container">

    <p>The right of recovery of amounts paid for Self-Learning course at OilandGasClub</p>

    <p>OilandGasClub offers the best self-learning courses so that you can meet your career aspirations effectively. To
        ensure a fair and transparent process, our refund policy is outlined below:To ensure a fair and transparent
        process, our refund policy is outlined below:</p>

    <p>Non-Refundable Fees:</p>

    <p>It is necessary to note that most of the charges given for the self-learning courses are not refundable. Refund
        Eligibility:</p>

    <p>Some grounds that entitle the buyer to get a refund may exist. Eligibility for a refund depends on the following
        criteria:Eligibility for a refund depends on the following criteria: Course Access: If, for example, you never
        logged into this course and never started it at all, you might be able to get your money back. Importantly, any
        use of the course and materials means usage as defined above. Technical Issues: If, for some reason, you cannot
        enter the course area &ndash; technical problems on our side &ndash; please contact us, and, after checking the
        problem, you can get a refund. Course Content Issues: This means that in the event that the content that is
        being delivered in the course differs greatly from what was included in the description or the advertised
        curriculum and this is confirmed to our team, then one could be eligible for a refund. </p>
        
        <p>Refund Request Process:</p>
    

    <p>To request a refund, please follow these steps:To request a refund, please follow these steps: </p>
    <p>Contact Support:</p>
    <p>Contact our support team at anush@oilandgasclub.com within 7-14 days from date of purchase. Give your
        order number and a clear description of explaining your reason for asking for a refund. Review Process: Our team
        will consider your request and may need to ask for further details and/or confirmation. This process usually
        does not take more than 3-5 business days. Refund Approval: When your request is granted, the
        refund will be made to the initial means of payment within 3-5 business days. </p>

        
        <p>Important Notes:</p>
  

    <p>Refund policy does not cover any money or course once it has been taken by the student. Refund of partial amount
        may be allowed where the course usage has been limited and access has been denied. The transaction fees or
        charges that may be charged in the process of the payment are non refundable. It&rsquo;s out duty to ensure that
        students get the best experience when learning. We welcome any questions or comments you may have about our
        refund policy;please contact our support team at anush@oilandgasclub.com/+91-9840287919.</p>

</div>