<div class="d-sm-flex align-items-center justify-content-between ">
  <h1 class="h3 mb-0 text-gray-800">Event User List</h1>
  <!-- <a class="d-none d-sm-inline-block btn btn-primary shadow-sm" [routerLink]="['/app/event/add']"><i
    class="fa fa-plus fa-sm text-white-50"></i> Add Event</a> -->
  </div>
  <!-- <div class="mb-4">
    <p class="text-muted">asd</p>
  </div> -->

<div class="form-group pull-right">
  <input type="text" class="search form-control" placeholder="Search" name="search" [(ngModel)]="term">
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width:30%"> Name <i (click)="onSortClick($event, 'title')" class="fa fa-caret-up"></i></th>
      <th scope="col" style="width:30%"> Email</th>
      <th scope="col" style="width:30%"> Mobile</th>
      <th scope="col" style="width:30%"> CompanyName</th>
      <th scope="col" style="width:30%"> PaymentRefNo</th>
      <!-- <th scope="col" style="width:30%">Action</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categories |filter:term | paginate: config">
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.mobile}}</td>
      <td>{{item.companyName}}</td>
      <td>{{item.paymentRefNo}}</td>
      <!-- <td>
        
        <button type="button" class="btn btn-success" [routerLink]="['/app/event/edit',item.id]"><i
            class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger ml-1" (click)="deleteEvent(item.id)"><i
            class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-primary ml-1" (click)="deleteEvent(item.id)"><i
          class="fa fa-user"></i></button>
        <button type="button" class="btn btn-dark ml-1" [routerLink]="['/app/event/edit',item.id,'new']"><i
          class="fa fa-refresh"></i></button>
      </td> -->
    </tr>
  </tbody>
</table>

<div class="d-flex bd-highlight mb-3">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <div class="ml-auto p-2 bd-highlight">
    <select (change)="onTableSizeChange($event)" class="custom-select">
      <option *ngFor="let size of tableSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>