<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Category List</h1>
  <a class="d-none d-sm-inline-block btn btn-primary shadow-sm" [routerLink]="['/app/category/add']"><i
      class="fa fa-plus fa-sm text-white-50"></i> Add Category</a>
</div>

<div class="form-group pull-right">
  <input type="text" class="search form-control" placeholder="Search" name="search" [(ngModel)]="term">
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" style="width:30%"> Name <i (click)="onSortClick($event, 'name')" class="fa fa-caret-up"></i></th>
      <th scope="col" style="width:30%"> App Name <i (click)="onSortClick($event, 'appsName')" class="fa fa-caret-up"></i> </th>
      <th scope="col" style="width:30%"> Sort Order</th>
      <th scope="col" style="width:30%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of categories |filter:term | paginate: config">
      <td>{{item.name}}</td>
      <td>{{item?.appsName}}</td>
      <td>{{item?.sortOrder}}</td>
      <td>
        <button type="button" class="btn btn-success" [routerLink]="['/app/category/edit',item.id]"><i
            class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-danger ml-1" (click)="deleteCategory(item.id)"><i
            class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex bd-highlight mb-3">
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <div class="ml-auto p-2 bd-highlight">
    <select (change)="onTableSizeChange($event)" class="custom-select">
      <option *ngFor="let size of tableSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>