<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{pageTitle}}</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Title</label>
                <input type="text" formControlName="title" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                    <div *ngIf="f.title.errors.required">title is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Title Image</label>
                <br>
                <input type="file" name="image" accept="image/*" (change)="fileProgress($event)" />
            </div>
            <div *ngIf="fileUploadProgress">
                Upload progress: {{ fileUploadProgress }}
            </div>
            <div class="image-preview mb-3" *ngIf="uploadedFilePath">
                <img [src]="uploadedFilePath" height="200" />
            </div>

            <div class="mb-3" *ngIf="uploadedFilePath">
                {{uploadedFilePath}}
            </div>
            <div class="form-group">
                <label>Canonical URL</label>
                <input type="text" formControlName="canonicalUrl" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.canonicalUrl.errors }" />
                <div *ngIf="submitted && f.canonicalUrl.errors" class="invalid-feedback">
                    <div *ngIf="f.canonicalUrl.errors.required">Canonical Url is required</div>
                </div>
            </div>

            <div class="form-group">
                <label>Offer Info</label>
                <input class="form-control" formControlName="eventInfo"/>
                <div *ngIf="submitted && f.eventInfo.errors" class="invalid">
                    <div *ngIf="f.eventInfo.errors?.required">Summary is
                        required
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="form-group col-6">
                        <label>Badge</label>
                        <input class="form-control" formControlName="badge" type="text"
                            />
                        <div *ngIf="submitted && f.badge.errors" class="invalid">
                            <div *ngIf="f.badge.errors?.required">Summary is
                                required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label>Language</label>
                        <select class="form-control" formControlName="language">
                            <option value="English">English</option>
                          </select>
                        <!-- <input class="form-control" formControlName="language" type="text"/> -->
                        <div *ngIf="submitted && f.language.errors" class="invalid">
                            <div *ngIf="f.language.errors?.required">Summary is
                                required
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>Start Date</label>
                    <input class="form-control" formControlName="startDate" type="date"
                        />
                    <div *ngIf="submitted && f.startDate.errors" class="invalid">
                        <div *ngIf="f.startDate.errors?.required">Summary is
                            required
                        </div>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label>End Date</label>
                    <input class="form-control" formControlName="endDate" type="date"/>
                    <div *ngIf="submitted && f.endDate.errors" class="invalid">
                        <div *ngIf="f.endDate.errors?.required">Summary is
                            required
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                <label>Duration</label>
                <input class="form-control" formControlName="duration" type="text"
                    />
                <div *ngIf="submitted && f.duration.errors" class="invalid">
                    <div *ngIf="f.duration.errors?.required">Summary is
                        required
                    </div>
                </div>
            </div>
            <div class="form-group col-6">
                <label>Timing</label>
                <input class="form-control" formControlName="timeing" type="text"/>
                <div *ngIf="submitted && f.timeing.errors" class="invalid">
                    <div *ngIf="f.timeing.errors?.required">Summary is
                        required
                    </div>
                </div>
        </div>
    </div>

            <div class="form-group">
                <label>About</label>
                <textarea class="form-control" formControlName="aboutEvent"
                    rows="5"></textarea>
                <div *ngIf="submitted && f.aboutEvent.errors" class="invalid">
                    <div *ngIf="f.aboutEvent.errors?.required">Summary is
                        required
                    </div>
                </div>
            </div>

           

            

            <div class="row">
                <div class="form-group col-6">
                    <label>Amount</label>
                <input type="number" class="form-control" formControlName="amount" />
                <div *ngIf="submitted && f.amount.errors" class="invalid">
                    <div *ngIf="f.amount.errors.required">Amount is required</div>
                </div>
                </div>
                <div class="form-group col-6">
                    <label>Discount</label>
                    <input type="number" class="form-control" formControlName="discount" />
                    <div *ngIf="submitted && f.discount.errors" class="invalid">
                        <div *ngIf="f.discount.errors.required">Amount is required</div>
                    </div>
            </div>
        </div>

        <div class="form-group">
            <label>Location</label>
            <input type="text" class="form-control" formControlName="location" />
            <div *ngIf="submitted && f.location.errors" class="invalid">
                <div *ngIf="f.location.errors.required">Amount is required</div>
            </div>
        </div>

            <!-- event_tags -->
            <div class="card mt-2">
                <div class="card-header">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3_tags"
                        aria-expanded="true" aria-controls="collapse3_tags">
                        Event Tags
                        <span class="toggle_bt"></span>
                    </button>
                </div>
                <div id="collapse3_tags" class="custom_collapse collapse show" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div formArrayName="eventDetails">
                            <div *ngFor="let item of eventCurriculumArrayControls('tags'); index as i" class="mb-3">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h6>Tag Section {{i + 1}}</h6>
                                    <a class="d-none d-sm-inline-block btn btn-primary shadow-sm"
                                        (click)="removeCurriculum(i,'tags')">
                                        <i class="fa fa-times-circle-o fa-sm text-white-50"></i> Remove</a>
                                </div>

                                <div class="mb-3">
                                    <div [formGroupName]="getIndexOfCurriculum('tags',i)" class="h-100">
                                        <div class="form-group col-12">
                                            <label>Tag</label>
                                            <input formControlName="tag" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && item.controls.tag.errors }" />
                                            <div *ngIf="submitted && item.controls.tag.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="item.controls.tag.errors?.required">Tag is
                                                    required
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success ml-2 mb-2"
                                (click)="addCurriculumItem('tags')">Add
                                Tag Info
                                Section</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-header">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3_curriculum"
                        aria-expanded="true" aria-controls="collapse3_curriculum">
                        Event Curriculum Infomation
                        <span class="toggle_bt"></span>
                    </button>
                </div>
                <div id="collapse3_curriculum" class="custom_collapse collapse " aria-labelledby="headingOne">
                    <div class="card-body">
                        <div formArrayName="eventDetails">
                            <div *ngFor="let item of eventCurriculumArrayControls('curriculum'); index as i" class="mb-3">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h6>Information Section {{i + 1}}</h6>
                                    <a class="d-none d-sm-inline-block btn btn-primary shadow-sm"
                                        (click)="removeCurriculum(i,'curriculum')">
                                        <i class="fa fa-times-circle-o fa-sm text-white-50"></i> Remove</a>
                                </div>

                                <div class="mb-3">
                                    <div [formGroupName]="getIndexOfCurriculum('curriculum',i)" class="h-100">
                                        <div class="form-group col-12">
                                            <label>Title</label>
                                            <input formControlName="title" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && item.controls.title.errors }" />
                                            <div *ngIf="submitted && item.controls.title.errors"
                                                class="invalid-feedback">
                                                <div *ngIf="item.controls.title.errors?.required">Title is
                                                    required
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group col-12">
                                            <label>Description</label>
                                            <textarea class="form-control" formControlName="description"
                                                rows="5"></textarea>
                                            <div *ngIf="submitted && item.controls.description.errors" class="invalid">
                                                <div *ngIf="item.controls.description.errors?.required">description is
                                                    required
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success ml-2 mb-2"
                                (click)="addCurriculumItem('curriculum')">Add
                                Curriculum Info
                                Section</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- bonuse -->

            <div class="card mt-2">
                <div class="card-header">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3_bonuse"
                        aria-expanded="true" aria-controls="collapse3_bonuse">
                        Event Bonuse Infomation
                        <span class="toggle_bt"></span>
                    </button>
                </div>
                <div id="collapse3_bonuse" class="custom_collapse collapse " aria-labelledby="headingOne">
                    <div class="card-body">
                        <div formArrayName="eventDetails">
                            <div class="row">
                                <div class="form-group col-6" *ngFor="let item of eventCurriculumArrayControls('bonuse-info'); index as i"
                                 [formGroupName]="getIndexOfCurriculum('bonuse-info',i)">
                                    <label>{{getValueOfCurriculum('bonuse-info',i,'title')}}</label>
                                <input type="number" class="form-control" formControlName="count" />
                                </div>
                        </div>
                        </div>
                        <div formArrayName="eventDetails">
                            <div *ngFor="let item of eventCurriculumArrayControls('bonuse'); index as i" class="mb-3">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h6>Information Section {{i + 1}}</h6>
                                    <a class="d-none d-sm-inline-block btn btn-primary shadow-sm"
                                        (click)="removeCurriculum(i,'bonuse')">
                                        <i class="fa fa-times-circle-o fa-sm text-white-50"></i> Remove</a>
                                </div>

                                <div class="mb-3">
                                    <div [formGroupName]="getIndexOfCurriculum('bonuse',i)" class="h-100">
                                        <div class="row col-12">
                                            <div class="form-group col-6">
                                                <label>Tag</label>
                                                <input class="form-control" formControlName="tag" type="text"
                                                    />
                                                <div *ngIf="submitted && item.controls.tag.errors" class="invalid">
                                                    <div *ngIf="item.controls.tag.errors?.required">Summary is
                                                        required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-6">
                                                <label>Amount</label>
                                                <input class="form-control" formControlName="amount" type="number"/>
                                                <div *ngIf="submitted && item.controls.amount.errors" class="invalid">
                                                    <div *ngIf="item.controls.amount.errors?.required">Summary is
                                                        required
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                        <div class="form-group col-12">
                                            <label>Description</label>
                                            <textarea class="form-control" formControlName="description"
                                                rows="5"></textarea>
                                            <div *ngIf="submitted && item.controls.description.errors" class="invalid">
                                                <div *ngIf="item.controls.description.errors?.required">description is
                                                    required
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success ml-2 mb-2"
                                (click)="addCurriculumItem('bonuse')">Add
                                Bonuse Info
                                Section</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- slary -->
            <div class="card mt-2">
                <div class="card-header">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3_slary"
                        aria-expanded="true" aria-controls="collapse3_slary">
                        Event Slary Infomation
                        <span class="toggle_bt"></span>
                    </button>
                </div>
                <div id="collapse3_slary" class="custom_collapse collapse " aria-labelledby="headingOne">
                    <div class="card-body">
                        <div formArrayName="eventDetails">
                            <div *ngFor="let item of eventCurriculumArrayControls('slary'); index as i" class="mb-3">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h6>Slary Section {{i + 1}}</h6>
                                    <a class="d-none d-sm-inline-block btn btn-primary shadow-sm"
                                        (click)="removeCurriculum(i,'slary')">
                                        <i class="fa fa-times-circle-o fa-sm text-white-50"></i> Remove</a>
                                </div>

                                <div class="mb-3">
                                    <div [formGroupName]="getIndexOfCurriculum('slary',i)" class="h-100">
                                        <div class="form-group">
                                            <label>Salary</label>
                                            <input class="form-control" formControlName="amount" type="number"/>
                                            <div *ngIf="submitted && item.controls.amount.errors" class="invalid">
                                                <div *ngIf="item.controls.amount.errors?.required">Summary is
                                                    required
                                                </div>
                                            </div>
                                    </div>
                                        <div class="form-group ">
                                            <label>Description</label>
                                            <textarea class="form-control" formControlName="description"
                                                rows="5"></textarea>
                                            <div *ngIf="submitted && item.controls.description.errors" class="invalid">
                                                <div *ngIf="item.controls.description.errors?.required">description is
                                                    required
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success ml-2 mb-2"
                                (click)="addCurriculumItem('slary')">Add
                                Slary Info
                                Section</button>
                        </div>
                    </div>
                </div>
            </div>
<!-- qa -->
            <div class="card mt-2">
                <div class="card-header">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3_qa"
                        aria-expanded="true" aria-controls="collapse3_qa">
                        Event Quations & Answers
                        <span class="toggle_bt"></span>
                    </button>
                </div>
                <div id="collapse3_qa" class="custom_collapse collapse " aria-labelledby="headingOne">
                    <div class="card-body">
                        <div formArrayName="eventDetails">
                            <div *ngFor="let item of eventCurriculumArrayControls('qa'); index as i" class="mb-3">
                                <div class="d-sm-flex align-items-center justify-content-between">
                                    <h6>Quation & Answer Section {{i + 1}}</h6>
                                    <a class="d-none d-sm-inline-block btn btn-primary shadow-sm"
                                        (click)="removeCurriculum(i,'qa')">
                                        <i class="fa fa-times-circle-o fa-sm text-white-50"></i> Remove</a>
                                </div>

                                <div class="mb-3">
                                    <div [formGroupName]="getIndexOfCurriculum('qa',i)" class="h-100">
                                        <div class="form-group">
                                            <label>Quation</label>
                                            <input class="form-control" formControlName="title" type="text"/>
                                            <div *ngIf="submitted && item.controls.title.errors" class="invalid">
                                                <div *ngIf="item.controls.title.errors?.required">Summary is
                                                    required
                                                </div>
                                            </div>
                                    </div>
                                        <div class="form-group ">
                                            <label>Description</label>
                                            <textarea class="form-control" formControlName="description"
                                                rows="5"></textarea>
                                            <div *ngIf="submitted && item.controls.description.errors" class="invalid">
                                                <div *ngIf="item.controls.description.errors?.required">description is
                                                    required
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success ml-2 mb-2"
                                (click)="addCurriculumItem('qa')">Add
                                Quation & Answer
                                Section</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- OrganizedBy -->

            <div class="card mt-2">
                <div class="card-header">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3_organized"
                        aria-expanded="true" aria-controls="collapse3_organized">
                        Organized by
                        <span class="toggle_bt"></span>
                    </button>
                </div>
                <div id="collapse3_organized" class="custom_collapse collapse " aria-labelledby="headingOne">
                    <div class="card-body">
                        <!-- <div formArrayName="eventDetails">
                            <div class="row">
                                <div class="form-group col-6" *ngFor="let item of eventCurriculumArrayControls('organized'); index as i"
                                 [formGroupName]="getIndexOfCurriculum('organized',i)">
                                    <label>{{getValueOfCurriculum('organized',i,'title')}}</label>
                                <input type="number" class="form-control" formControlName="count" />
                                </div>
                        </div>
                        </div> -->
                        <div formArrayName="eventDetails">
                            <div *ngFor="let item of eventCurriculumArrayControls('organized'); index as ix" class="mb-3">
                                <!-- <div class="d-sm-flex align-items-center justify-content-between">
                                    <h6>Information Section {{i + 1}}</h6>
                                    <a class="d-none d-sm-inline-block btn btn-primary shadow-sm"
                                        (click)="removeCurriculum(i,'organized')">
                                        <i class="fa fa-times-circle-o fa-sm text-white-50"></i> Remove</a>
                                </div> -->

                                <div class="mb-3">
                                    <div [formGroupName]="getIndexOfCurriculum('organized',ix)" class="h-100">
                                        <div class="row ">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label>Avatar</label>
                                                    <br>
                                                    <input type="file" name="image" accept="image/*" (change)="fileProgressIx($event,'organized',ix)" />
                                                </div>
                                                <!-- <div *ngIf="fileUploadProgress">
                                                    Upload progress: {{ fileUploadProgress }}
                                                </div> -->
                                                <div class="image-preview mb-3" *ngIf="getValueOfCurriculum('organized',ix,'imageUrl')">
                                                    <img [src]="getValueOfCurriculum('organized',ix,'imageUrl')" height="200" />
                                                </div>
                                    
                                                <div class="mb-3" *ngIf="getValueOfCurriculum('organized',ix,'imageUrl')">
                                                    {{getValueOfCurriculum('organized',ix,'imageUrl')}}
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="form-group col-8">
                                                        <label>Name</label>
                                                        <input class="form-control" formControlName="title" type="text"/>
                                                        <!-- <div *ngIf="submitted && item.controls.title.errors" class="invalid">
                                                            <div *ngIf="item.controls.title.errors?.required">Summary is
                                                                required
                                                            </div>
                                                        </div> -->
                                                </div>
                                                <div class="form-group col-4">
                                                    <label>Tags</label>
                                                    <input class="form-control" formControlName="tag" type="text"/>
                                                    <!-- <div *ngIf="submitted && item.controls.tag.errors" class="invalid">
                                                        <div *ngIf="item.controls.tag.errors?.required">Summary is
                                                            required
                                                        </div>
                                                    </div> -->
                                            </div>

                                                </div>
                                           
                                          <div class="row">
                                            <div class="form-group col-12">
                                                <label>Description</label>
                                                <textarea class="form-control" formControlName="description"
                                                    rows="5"></textarea>
                                                <!-- <div *ngIf="submitted && item.controls.description.errors" class="invalid">
                                                    <div *ngIf="item.controls.description.errors?.required">description is
                                                        required
                                                    </div>
                                                </div> -->
                                            </div>
                                          </div>
 

                                            </div>
                                    </div>
                                        


                                    </div>
                                    <div class="row">
                                         <div class="form-group col-6" *ngFor="let item of eventCurriculumArrayControls('organized_list'); index as i"
                                                [formGroupName]="getIndexOfCurriculum('organized_list',i)">
                                                    <label>{{getValueOfCurriculum('organized_list',i,'title')}}</label>
                                                <input type="text" class="form-control" formControlName="description" />
                                                </div>
                                                <div class="col-6">
                                                    <button type="button" class="btn btn-success ml-2 mb-2"
                                                        (click)="addCurriculumItem('organized_soc')">Add Social Link</button>
                                                </div>
                                    </div>
                                    <div class="row">
                                        <div class=" col-12" *ngFor="let item1 of eventCurriculumArrayControls('organized_soc'); index as i">
                                            <div class="row" [formGroupName]="getIndexOfCurriculum('organized_soc',i)" >
                                                <div class="form-group col-4">
                                                    <select class="form-control" formControlName="tag" >
                                                        <option *ngFor="let si of socailMedias" [value]="si">{{si}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-8">
                                                    <input type="text" class="form-control" formControlName="title" placeholder="link" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <button type="button" class="btn btn-success ml-2 mb-2"
                                (click)="addCurriculumItem('bonuse')">Add
                                Bonuse Info
                                Section</button> -->
                        </div>
                       
                    </div>
                </div>
            </div>
           
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" formControlName="registrationCompleted" type="checkbox" value=""
                        id="invalidCheck">
                    <label class="form-check-label" for="invalidCheck">
                        Registration is completed?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" formControlName="showOnDashboard" type="checkbox" value=""
                        id="invalidCheck">
                    <label class="form-check-label" for="invalidCheck">
                        Show On Dashboard?
                    </label>
                </div>
            </div>
            <!-- registrationCompelted -->
            <div class="form-group">
                <button class="btn btn-primary" type="submit">{{btntext}}</button>
                <button type="button" class="btn btn-danger ml-1" (click)="goBack()">Cancel</button>
            </div>
        </form>
    </div>
</div>