.card-header {
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eae7f5;
}
// .nav-link{
//     color: rgba(0,0,0,.5)!important;
// }

.navBackground{
    background: linear-gradient(90deg, #153e7c 0.26%, #147fa0);
}

