<div class="mt-5">
    <div class="d-style btn btn-brc-tp border-2 bg-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm" [routerLink]="['/app/student/practice-question', courseId , 0]">
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing"> All Questions</h4>
            </div>
        </div>
    </div>
   
    <div class="d-style btn btn-brc-tp border-2 bg-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm" [routerLink]="['/app/student/practice-question', courseId , 1]">
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing"> Easy Questions</h4>
            </div>
        </div>
    </div>

    <div class="d-style btn btn-brc-tp border-2 bg-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing"> Medium Questions</h4>
            </div>
        </div>
    </div>

    <div class="d-style btn btn-brc-tp border-2 bg-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <div class="row align-items-center">
            <div class="col-12 col-md-4">
                <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing"> Hard Questions</h4>
            </div>
        </div>
    </div>
</div>