<!-- <footer class="py-5 bg-dark mt-4">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy;  {{Year}}</p>
    </div>
</footer> -->

<footer class="site-footer">
    <div class="footer-container">
        <p class="copyright">
            &copy; <span id="year"></span> 
            <a href="https://oilandgasclub.com" target="_blank" rel="noopener noreferrer">oilandgasclub.com</a>. 
            All rights reserved.
          </p>
          
          <script>
            // Set current year dynamically
            document.getElementById("year").textContent = new Date().getFullYear();
          </script>
          
    </div>
</footer>