<div class="container">
    <div class="aff-pgm-content">

        Oilandgasclub.com believes that generating meaningful and lasting result is only made possible by engaging and
        connecting partners. The strength of our partnership from the community to the global level. We invite faculty
        to partner with us. We create innovative, high performing technical programs with partner worldwide.

    </div>
    <div class="works-with">
        <h2>HOW IT WORKS</h2>
        <div class="how-it-first">
            <div class="round-bar"></div>
            &nbsp;

            Join our affiliate program and earn attractive commission on each referral.

        </div>
        <div class="how-it-first it-second">
            <div class="round-bar bar-2"></div>
            &nbsp;

            As an affiliate, you promote our course and blog on your blog or social networking page.

        </div>
        <div class="how-it-first it-third">
            <div class="round-bar bar-3"></div>
            &nbsp;

            When your website visitor click on your promotional link and buy. Join our course you will earn commission.

        </div>
    </div>
</div>