<!DOCTYPE html>
<html>
<head>
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="title" content="worlds largest refineries">
  <meta name="description" content="List of Refineries,In this article we have discussed about World Largest Refineries">
  <meta name="author" content="Anush">
  <meta property="og:site_name" content="Oilandgasclub">
  <meta property="og:type" content="article">
  <meta property="og:title" content="worlds largest refineries">
  <meta property="og:description" content="List of Refineries,In this article we have discussed about World Largest Refineries">
  <meta property="og:author" content="Anush">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="500">
  <meta property="og:url" content="https://www.oilandgasclub.com/worlds-largest-refineries">
  <meta property="article:published_time" content="2021-09-01T06:18:55.5419129">
  <meta property="article:modified_time" content="2023-07-08T06:43:07.881401">
  <meta property="article:tag" content="List of Refineries">
  <meta property="article:publisher" content="">
  <meta name="twitter:title" content="List of Refineries ">
  <meta name="twitter:description" content="List of Refineries,In this article we have discussed about World Largest Refineries">
  <meta name="twitter:label1" content="Anush">
  <meta name="twitter:data1" content="Oilandgasclub">
  <meta name="twitter:label2" content="Filed under">
  <meta name="twitter:data2" content="Oilandgasclub">
  <meta name="twitter:site" content="@oilandgasclub">
  <meta name="twitter:creator" content="@Anush">
  <meta name="twitter:url" content="https://www.oilandgasclub.com/worlds-largest-refineries">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>List of Refineries</h1>
<h4>In this article we have discussed about World Largest Refineries</h4>

<table>
  <tr>
    <th>No.</th>
    <th>Name of Refinery</th>
    <th>Location</th>
    <th>Barrels per Day</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Jamnagar Refinery (Reliance Industries Ltd.)</td>
    <td>Gujarat, India</td>
    <td>1,240,000</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Paraguana Refinery Complex (PDVSA)</td>
    <td>Paraguana, Falcon, Venezuela</td>
    <td>940,000</td>
  </tr>
  <tr>
    <td>3</td>
    <td>SK energy Co.,Ltd. Ulsan Refinery (SK Energy)</td>
    <td>Ulsan, South Korea</td>
    <td>850,000</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Ruwais Refinery (Abu Dhabi Oil Refining Company)</td>
    <td>Ruwais, UAE</td>
    <td>817,000</td>
  </tr>
  <tr>
    <td>5</td>
    <td>GS Caltex Yeosu Refinery (GS Caltex)</td>
    <td>Yeosu, South Korea</td>
    <td>730,000</td>
  </tr>
  <tr>
    <td>6</td>
    <td>S-Oil Onsan Refinery (S-Oil)</td>
    <td>Ulson, South Korea</td>
    <td>670,000</td>
  </tr>
  <tr>
    <td>7</td>
    <td>ExxonMobil</td>
    <td>Singapore</td>
    <td>605,000</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Port Arthur Refinery (Motiva Enterprises)</td>
    <td>Port Arthur, Texas, USA</td>
    <td>600,250</td>
  </tr>
  <tr>
    <td>9</td>
    <td>Baytown Refinery (ExxonMobil)</td>
    <td>Baytown, TX, USA</td>
    <td>560,500</td>
  </tr>
  <tr>
    <td>10</td>
    <td>Ras Tanura Refinery (Saudi Aramco)</td>
    <td>Saudi Arabia</td>
    <td>550,000</td>
  </tr>
  <tr>
    <td>11</td>
    <td>Garyville Refinery (Marathon Petroleum)</td>
    <td>Garyville, LA, USA</td>
    <td>539,000</td>
  </tr>
  <tr>
    <td>12</td>
    <td>Baton Rouge Refinery (ExxonMobil)</td>
    <td>Baton Rouge, LA, USA</td>
    <td>502,500</td>
  </tr>
  <tr>
    <td>13</td>
    <td>Abadan Refinery (NIOC)</td>
    <td>Abadan, Iran</td>
    <td>450,000</td>
  </tr>
  <tr>
    <td>14</td>
    <td>SAMREF (Aramco Mobil Refinery)</td>
    <td>Yanbu, Saudi Arabia</td>
    <td>405,000</td>
  </tr>
  <tr>
    <td>15</td>
    <td>Shell pernis (Royal dutch Shell)</td>
    <td>Rotterdam, The Netherlands</td>
    <td>416,000</td>
  </tr>
  
</table>

</body>
</html>



