<div *ngFor="let item of studyMaterials">
    <div class="list-group mb-2 mt-2">
        <div class="list-group-item">
            <div class="row align-items-center">
                <div class="col">
                    <strong class="mb-5 text-primary">{{item?.title}}</strong>
                    <div class="mt-2" *ngFor="let x of item.studyMaterials">
                        <strong>{{x?.title}}</strong>
                        <p class="ck-content post-body" [innerHTML]="x?.description | fixMojibakeSafeHtml">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>